@keyframes updown {
  0% {
    top: 130vh;
  }
  50% {
    top: 0;
  }
  100% {
    top: 130vh;
  }
}

@keyframes downup {
  0% {
    bottom: 100vh;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 100vh;
  }
}

@keyframes leftright {
  0% {
    left: 0vh;
  }
  50% {
    left: 100vh;
  }
  100% {
    left: 0vh;
  }
}

@keyframes rightleft {
  0% {
    right: 0vh;
  }
  50% {
    right: 100vh;
  }
  100% {
    right: 0vh;
  }
}

@keyframes vastag {
  0% {
    width: 150vh;
  }
  50% {
    width: 150vh;
  }
  100% {
    width: 150vh;
  }
}

@keyframes forog360 {
  100% {
    transform: rotate(360deg);
  }
}

#canvas {
  z-index: -10;
  overflow: hidden;
  width: 100vw;
  height: 103vh;
  filter: contrast(100);
  background: linear-gradient(
    #36009c 40%,
    #534fa5 80%,
    #ce95fb(2, 247, 194) 100%
  );
  box-shadow: inset 3vh -10vh 20vh 3vh #000;
}

.bubble {
  height: 16vh;
  background: #00fbda;
  position: absolute;
  filter: blur(15vh);
  animation: downup linear 17s infinite, rightleft ease-in-out 17s infinite,
    vastag linear 17s infinite, forog360 linear 17s infinite;
}
.bubble:nth-child(2) {
  animation: updown ease-in 17s infinite, rightleft ease-in-out 17s infinite,
    vastag linear 17s infinite, forog360 linear 17s infinite;
}
.bubble:nth-child(3) {
  animation: updown ease-out 17s infinite, leftright ease-in-out 17s infinite,
    vastag linear 17s infinite, forog360 linear 17s infinite;
}
.bubble:last-child {
  animation: downup linear 17s infinite, leftright ease-in-out 17s infinite,
    vastag linear 17s infinite, forog360 linear 17s infinite;
}
