@keyframes updown {
  0% {
    top: 120vh;
  }
  50% {
    top: 0;
  }
  100% {
    top: 110vh;
  }
}

@keyframes downup {
  0% {
    bottom: 120vh;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 110vh;
  }
}

@keyframes leftright {
  0% {
    left: -20vh;
  }
  50% {
    left: 120vh;
  }
  100% {
    left: -20;
  }
}

@keyframes rightleft {
  0% {
    right: -20vh;
  }
  50% {
    right: 120vh;
  }
  100% {
    right: -20;
  }
}

@keyframes vastag {
  0% {
    width: 150vh;
  }
  50% {
    width: 130vh;
  }
  100% {
    width: 250vh;
  }
}

@keyframes forog180 {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes forog360 {
  100% {
    transform: rotate(360deg);
  }
}

#canvas {
  z-index: -10;
  overflow: hidden;
  width: 100vw;
  height: 103vh;
  filter: contrast(100);
  background: linear-gradient(
    #36009c 40%,
    #534fa5 80%,
    #ce95fb(2, 247, 194) 100%
  );
  box-shadow: inset 3vh -10vh 20vh 3vh #000;
}

.bubble {
  height: 16vh;
  background: #00fbda;
  position: absolute;
  filter: blur(15vh);
  animation: downup linear 17s infinite, rightleft ease-in-out 17s infinite,
    vastag linear 10s infinite, forog180 linear 10s infinite;
}
.bubble:nth-child(2) {
  animation: downup ease-in 10s infinite, rightleft ease-in-out 10s infinite,
    vastag linear 12s infinite, forog360 linear 15s infinite;
}
.bubble:nth-child(3) {
  animation: updown ease-out 8s infinite, leftright ease-in-out 22s infinite,
    vastag linear 10s infinite, forog180 linear 10s infinite;
}
.bubble:last-child {
  animation: updown linear 33s infinite, leftright ease-in-out 33s infinite,
    vastag linear 10s infinite, forog360 linear 15s infinite;
}
